{% extends 'base.html.twig' %}

{% block title %}Modifier la Facturation{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4 text-center" style="color:rgb(68, 68, 68);">💰 Modifier la Facturation</h1>

    <div class="p-4 rounded shadow" style="background-color: #20B2AA;">
        <div class="card-body">
            {{ include('facturation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{{ path('app_facturation_index') }}" class="btn btn-secondary btn-lg shadow-sm">
            <i class="bi bi-arrow-left"></i> Retourner à la liste
        </a>
    </div>

    <div class="text-center mt-4">
        {{ include('facturation/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
