{# templates/matching/history.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Matching History{% endblock %}

{% block body %}
    <h1>Matching History</h1>
    <p>No data available yet.</p>
{% endblock %}
