{% extends 'base.html.twig' %}
{%  block title %}Reinitialisation de mot de passe{% endblock %}
{% block body %}

<style>
    /* Ajoutez vos styles ici */
    body {
        background: linear-gradient(to right, #178b87, #2aa89a);
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    header, footer {
        position: static;
        width: 100%;
        z-index: 10;
    }

    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1; /* Permet au formulaire d'occuper l'espace central */
    }
    .containerkhad {
        background-color: white;
        padding: 70px 20px 100px 20px;
        border-radius: 20px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 450px;
        position: relative;
        overflow: hidden;
        transition: background-color 0.5s ease-in-out;
    }
    .circle {
        position: absolute;
        width: 100%;
        height: 30%;
        background: #1ca7a2;  /* Default green color for login */
        margin-top: 8%;
        left: 0;
        border-radius: 50%;
        transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: top;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .container h2 {
        color: #1ca7a2;
        transition: opacity 0.5s ease-in-out;
    }
    .form-input {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    .btn {
        width: 100%;
        padding: 10px;
        background-color: #1ca7a2;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 5%;
        cursor: pointer;
    }
    .btn:hover {
        background-color: #178b87;
    }
    .toggle {
        margin-top: 10px;
        color: #1ca7a2;
        cursor: pointer;
    }
    #text { margin-top: 5%; }
    #login-form {
        position: relative;
    }
    header, footer {
        position: static; /* Ou display: block; pour annuler flex */
        width: 100%;
    }
    .form-errors {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }
    #videoElement {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-top: 20px;
    }
</style>

<br><br><br><br>
<div class="main-container">
    <div class="containerkhad" id="form-container">
    <h1>Reinitialisation de mot de passe</h1>

    {{ form_start(requestPassForm)}}
        {{ form_row(requestPassForm.email) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(requestPassForm)}}

</div>
</div>




<br><br><br><br>
{% endblock %}
