<h1>Activer votre compte </h1>
<p> Bonjour {{ user.nom }},</p>
<p> Pour activer votre compte, veuillez cliquer sur le lien suivant : </p>
<p><a href="{{ absolute_url(path('verif_email',{token: token}) )}}">lien</a></p>
<p>Ce lien expirera dans 3 heure</p>