#chatButton {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.3s ease;
}

#chatButton:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
