

<!DOCTYPE html>
<html>
    <head>
        <title>PDF Généré</title>
    </head>
    <body>
        <h1>Le PDF a été généré avec succès!</h1>
        <p>Vous pouvez le télécharger en cliquant sur le lien ci-dessous :</p>
        <a href="{{ pdfUrl }}" download>Télécharger le PDF</a>
    </body>
</html>
