{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div class="container">
    <h1>Nos Articles</h1>
    <div class="row">
        {% for article in articles %}
            <div class="col-md-4">
                <div class="card mb-4">
                           <img src="{{asset(article.urlimagearticle) }}" alt="Mon image">

                    <div class="card-body">
                        <h5 class="card-title">{{ article.titre }}</h5>
                        <p class="card-text">{{ article.contenue[:100] ~ '...' }}</p>
                        <p class="card-text"><small class="text-muted">Publié le {{ article.dateArticle|date('d/m/Y') }}</small></p>
                        <a href="#" class="btn btn-primary">Lire plus</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun article trouvé.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}